/* h1{
    color: orange;
    text-align: justify;
    background-color: aquamarine;
} */
/* .container{
    background-color: aqua;
    text-align: center;
}
h1, p,button{
    background-color: pink;
} */
 /* h1{
    direction:rtl;
    unicode-bidi: bidi-override;
 } */
  /* span{
    vertical-align:10px;
  } */
   /* h1{
    text-decoration: underline;
    text-transform:capitalize;
   } */
    /* p{
        display: inline;
        text-indent: 50px;
        height: 100px;
        width: 200px;
        background-color: aqua;
    }
    h1{
        background-color:beige;
        display: inline-block;
        height: 15px;
        width: 160px;
        
    } */
     